@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html,
body,
#root,
.bg,
canvas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  height: 100vh;
}

body {
  background: #181818;
  font-family: 'Montserrat';
}

.bg {
  position: absolute;
  background: radial-gradient(
    at 50% 100%,
    #873740 0%,
    #272730 40%,
    #171720 80%,
    #070710 100%
  );
}

h1 {
  position: absolute;
  top: 120px;
  left: 50%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 4vw;
  transform: translate3d(-50%, 0, 0);
  margin: 0;
  color: peru;
  letter-spacing: 0.03;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
}

.layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75%;
  background: linear-gradient(0deg, rgba(63, 12, 88, 0.2) 0%, transparent 100%);
  pointer-events: none;
}

.line-wrapper {
  position: relative;
  overflow: hidden;
}

.line {
  display: inline-block;
}

.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-bar-container {
  width: 200px;
  height: 3px;
  background: #272727;
}

.loading-bar {
  height: 3px;
  background: white;
}

.page-enter {
  opacity: 0;
}
.page-enter-active {
  opacity: 1;
  transition: opacity 400ms;
  transition-delay: 600ms;
}
.page-exit {
  opacity: 1;
}
.page-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}
